variable "vsphere_user" {
  type    = string
  default = "administrator@vmware.example.com"
}
variable "vsphere_password" {
  type    = string
  default = "sup3rS3cr3t"
}
variable "vsphere_server" {
  type    = string
  default = "vcenter1.vmware.example.com"
}
